# Use this file to define mappings between email addresses and author names used in your repo
#
# In the example below the same author appears several times with different credentials:
# ~/Documents/Dev/team-42 $ git shortlog -sne
#    22  Douglas Adams <dga42@uclive.ac.nz>
#    9   Arthur Dent <ard@uclive.ac.nz>
#    7   Arthur dent <ard@uclive.ac.nz>
#    2   Arthur Dent <fuzzystarfish@myhomeaccount.kawaii.nz>
#    1   The Dolphins <fish@thanks.fr>
#    1   SENG302 <seng302@canterbury.ac.nz>
#
# Define mappings like so:
# Arthur Dent <ard@uclive.ac.nz> <fuzzystarfish@myhomeaccount.kawaii.nz>
#
# See the following pages for more information:
# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
# http://stacktoheap.com/blog/2013/01/06/using-mailmap-to-fix-authors-list-in-git/
Dana Lambert <dla72@uclive.ac.nz>
Marvin Goesmann <mgo81@uclive.ac.nz> <mgo81@cs18207kq.canterbury.ac.nz>
Marvin Goesmann <mgo81@uclive.ac.nz>
Lorenzo Fasano <lfa69@uclive.ac.nz> <fasano.lorenzo96@gmail.com>
Lorenzo Fasano <lfa69@uclive.ac.nz> <faso.9603@gmail.com>
Adam Conway <aco108@uclive.ac.nz>
Tiger Huang <rsh134@uclive.ac.nz> <tiger_sn_fun@hotmail.com>
Flynn Doherty <frd15@uclive.ac.nz> <frd15@uclive.ac.nz>
Caleb Wenborn <cwe55@uclive.ac.nz> <cwe55@uclive.ac.nz>
Fergus Meldrum <fme36@uclive.ac.nz> <fergus.meldrum@gmail.com>

