@import models.Nationality
@(travellers: Seq[Traveller])

<div>
    <h1>
        Travellers
    </h1>
    @if(travellers.isEmpty) {
        <h1>
            NO TRAVELLERS YET!
        </h1>
    } else {
        @for(t <- travellers) {
            <div>
                <h2>
                @t.id
                </h2>
                <h2>
                @t.fname
                </h2>
                <h2>
                @t.mname
                </h2>
                <h2>
                @t.lname
                </h2>
                <h2>
                @t.gender
                </h2>
                <h2>
                @t.password
                </h2>
                <h2>
                @t.dob
                </h2>
                <h2>
                @t.timestamp
                </h2>
                <div>
                    <h2>
                        Nationalities
                    </h2>
                    @for(n <- t.nationalities) {

                        <h2>
                            - @n.nationality
                        </h2>
                    }
                </div>
                <div>
                    Types
                </div>
                @for(tipo <- t.types) {
                    <h2>
                        - @tipo.tType
                    </h2>
                }
            </div>
        }
    }
</div>