@import "theme.scss";
@import "header.scss";
@import "mediaDialog.scss";
@import "dashboard.scss";
@import "profile.scss";
@import "login.scss";
@import "usergroups.scss";
@import "trip.scss";

@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

h1 {
  align-self: flex-end;
  font-size: 50px;
}

aside {
  margin-right: 0px !important;
}

main {
  margin-left: 0px !important;
}

.theme--light.application {
  background-color: white;
}

.no-underline {
  text-decoration: none;
}

.sub-text {
  color: $sub-text;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.scrollable-y {
  overflow-y: scroll;
  overflow-x: visible;
  height: calc(100vh - 400px);

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  ::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important; /* make scrollbar transparent */
  }
}