@import "theme.scss";
@import "header.scss";
@import "mediaDialog.scss";
@import "dashboard.scss";
@import "profile.scss";
@import "login.scss";
@import "usergroups.scss";

@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

h1 {
  align-self: flex-end;
  font-size: 50px;
}

aside {
  margin-right: 0px !important;
}

main {
  margin-left: 0px !important;
}

.theme--light.application {
  background-color: white;
}

.no-underline {
  text-decoration: none;
}
