/* Travelr Theme */

$heading-color: #000000ff;
$primary-color: #27306aff;
$secondary-color: #ff5555ff;
$sub-text: rgba(0, 0, 0, 0.54);

$feature-color1: #1976d2;
$feature-color2: #62f9d9ff;
$feature-color3: #ffc199ff;

$background-color: #ffffffff;



