/* Travelr Theme */

$heading-color: #000000ff;
$primary-color: #27306aff;
$secondary-color: #ff5555ff;

$feature-color1: #75ecf4ff;
$feature-color2: #62f9d9ff;
$feature-color3: #ffc199ff;

$background-color: #ffffffff;

