@import "./theme.scss";

.trip-breadcrumbs {
  padding: 0 0 20px 0;
}

/* ------------- COMMENTS --------------- */

.post-comment-container {
  .v-input {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.user-comment {
  padding: 15px;
  margin: 10px 0;

  hr {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }

  .comment-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    p {
      font-weight: bold;
      margin-bottom: 0px;
    }

    .sub-text {
      font-weight: normal;
      font-size: 13px;
    }
  }
}

/* ------------- FILES --------------- */
.user-files {
  padding-bottom: 10px;
}